<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--查询所有软件包-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!--检索已有的账户-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--检索正在运行的应用-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--请求安装程序包-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--请求删除程序包-->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- 调用killBackgroundProcesses(String)方法结束后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    
    <application
                android:name=".LSPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name="org.lsposed.lspatch.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>


        <service
            android:name="org.lsposed.lspatch.manager.ModuleService"
            android:exported="true"
            tools:ignore="ExportedService" />
 

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="org.lsposed.lspatch.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>

